{% extends 'rede_social/base.html' %} {% block content %}
<header class="container">
  <nav class="navbar navbar-expand-lg navbar-light rounded">
    <a class="navbar-brand" href="{% url 'index' %}">{{ perfil }}</a>
    {% if user.is_authenticated %}
    {% if segue %}     
    <a class="btn btn-primary" href="{% url 'unfollow' perfil.slug %}">Seguindo</a>
    {% else %}
    <a class="btn btn-primary" href="{% url 'follow' perfil.slug %}">Seguir</a>
    {% endif %}
      {% endif %}
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExample09"
      aria-controls="navbarsExample09"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-primary" href="{% url 'postagem' %}"
            >Publicar</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="{% url 'logout' %}">Sair</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-primary" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
<main class="container">
  {% if perfil.postagem_set.all %}
  <ul class="timeline">
    {% for p in perfil.postagem_set.all %}
    <li>
      <a target="_blank" href="https://www.totoprayogo.com/#"
        >@{{ p.pessoa }}</a
      >
      <p class="float-right">{{ p.data|date:"d/m/Y" }}</p>
      <p>{{ p.conteudo }}</p>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</main>
{% endblock %}