{% extends 'rede_social/base.html' %}
{% block content %}
    {% if perfil.postagem_set.all %}
    {% for postagem in perfil.postagem_set.all %}
    <div class="my-3 p-3 bg-body rounded shadow-lg">
        <h6 class="border-bottom pb-4 mb-0">{{ postagem.conteudo }}</h6>
        <div class="d-flex text-muted pt-3">
            <p class="pb-3 mb-0 small lh-sm border-bottom">
                <strong class="d-block text-gray-dark">{{perfil.nome}}</strong>
                {{postagem.data}}
            </p>
        </div>
        {% for comentario in postagem.comentario_set.all %}
        <div class="my-3 p-3 bg-body rounded shadow-sm border">
            <h6 class="border-bottom pb-2 mb-0">{{comentario.conteudo}}</h6>
        <div class="d-flex text-muted pt-3">
            <p class="pb-3 mb-0 small lh-sm border-bottom"> {{ comentario.pessoa.nome }}
            {{comentario.data}}
            </p>
        </div>
        </div>
    </div> 
        {% endfor %}
    {% endfor %}
    {% else %}
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Postagens</h6>
        <div class="d-flex text-muted pt-3">
            <p class="pb-3 mb-0 small lh-sm">
                Ainda não existem postagens suas
            </p>
        </div>
    </div>
    {% endif %}
    </main>
<!--Ainda será criado um template para satisfazer a aba de comentários, dentro da publicação e abaixo do conteúdo da mensagem.-->
{% if user.is_authenticated %}
<p class="logged-in-p">
    Olá {{user.username}} seja bem vindo, o que deseja fazer hoje?
    <span class="sair">
    <a href="{% url 'logout' %}">Sair</a>
    </span>
</p>  
{% endif %}
{% endblock %}

